In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
Transformed_Housing_Data_2 = pd.read_csv("Transformed_Housing_Data2.csv")

In [8]:
Y = Transformed_Housing_Data_2.iloc[:,0]
X = Transformed_Housing_Data_2.iloc[:,1:31]

In [37]:
Y.head(5)

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: Sale_Price, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3)

In [11]:
X_train.shape

(15126, 30)

In [58]:
X_test.shape

(6483, 30)

In [43]:
Y_train.shape

(15126, 30)

In [44]:
Y_test.shape

(6483, 30)

In [50]:
X.describe()

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
count,21609.000000,21609.000000,21609.000000,2.160900e+04,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,...,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000
mean,3.370771,2.114709,2079.872553,1.510641e+04,1.494215,0.234347,7.623490,1788.319589,291.513490,46.999722,...,0.007543,0.109399,0.188625,0.149706,0.186681,0.043824,0.076450,0.012449,0.027720,0.002314
std,0.929916,0.770097,918.347816,4.142353e+04,0.539909,0.766382,1.105519,827.977604,442.570991,29.373317,...,0.086525,0.312146,0.391220,0.356791,0.389665,0.204709,0.265722,0.110879,0.164173,0.048048
min,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,1.000000,290.000000,0.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,7.000000,1190.000000,0.000000,21.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,2.250000,1910.000000,7.619000e+03,1.500000,0.000000,7.000000,1560.000000,0.000000,43.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.000000,2.500000,2550.000000,1.068700e+04,2.000000,0.000000,8.000000,2210.000000,560.000000,67.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,4.000000,10.000000,9410.000000,4820.000000,118.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Feature Scaling

In [51]:
from sklearn import preprocessing
scale = preprocessing.StandardScaler()

In [59]:
X_train = scale.fit_transform(X_train)

 X_train

In [61]:
X_test = scale.fit_transform(X_test)

In [62]:
X_test

array([[-2.56138806, -1.42323019, -1.46810553, ..., -0.10818558,
        -0.16360292, -0.04815713],
       [-0.39073724,  0.51253008, -0.14186258, ..., -0.10818558,
        -0.16360292, -0.04815713],
       [ 0.69458817, -1.42323019, -0.87020912, ..., -0.10818558,
        -0.16360292, -0.04815713],
       ...,
       [-0.39073724, -0.45535006, -1.09849684, ..., -0.10818558,
        -0.16360292, -0.04815713],
       [ 0.69458817,  1.1577835 ,  0.74954661, ..., -0.10818558,
        -0.16360292, -0.04815713],
       [-0.39073724,  0.18990337, -0.13099174, ..., -0.10818558,
        -0.16360292, -0.04815713]])